*, 
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: "hidden";
}

.images{
    width: 40vh;
    height: 50vh;
}

.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}


.center-card{
    background-color: #e2edff;
}

#ccenter{
    background-color: #e2edff;
}

.accordions{
    background-color: #e2edff;
}

.footers{
    background-color: #0080ff ;
}

